@import './fonts';


.transparent-white-5{
    color: rgba(255,255,255,.5)!important;
}
.eb-garamond{
    font-family: 'EB Garamond',serif !important;
}

.primary-btn{
    background: #13293d;
    &:hover{
        background: #1b1f2f;
    }
}

